<!DOCTYPE html>
<html>
<head>
    <title>Tomato Sorting System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Real-Time Tomato Sorting System</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Predict</button>
    </form>

    {% if processed_path %}
    <h3>Detected Result:</h3>
    <img src="{{ processed_path }}" width="500">

    <h3>Summary:</h3>
    <p style="color:green; font-size:20px;">
        Good Tomatoes: {{ good_count }}
    </p>
    <p style="color:red; font-size:20px;">
        Bad Tomatoes: {{ bad_count }}
    </p>
{% endif %}

</body>
</html>